<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enndfp.mapper.UserMapper">

    <select id="queryUserByVlogId" resultType="com.enndfp.pojo.User">
        SELECT
            u.id,u.phone,u.nickname,
            u.douyin_num,u.face,u.sex,
            u.birthday,u.country,u.province,
            u.city,u.district,u.description,
            u.bg_img,u.douyin_update_allowed,u.created_time,
            u.updated_time,u.is_deleted
        FROM
            user u
        JOIN
            vlog v
        ON
            u.id = v.vloger_id
        AND
            v.id = #{vlogId};
    </select>

    <resultMap id="BaseResultMap" type="com.enndfp.pojo.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="douyinNum" column="douyin_num" jdbcType="VARCHAR"/>
        <result property="face" column="face" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="country" column="country" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="district" column="district" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="bgImg" column="bg_img" jdbcType="VARCHAR"/>
        <result property="douyinUpdateAllowed" column="douyin_update_allowed" jdbcType="TINYINT"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,phone,nickname,
        douyin_num,face,sex,
        birthday,country,province,
        city,district,description,
        bg_img,douyin_update_allowed,created_time,
        updated_time,is_deleted
    </sql>
</mapper>
